BasedOnStyle: LLVM
ColumnLimit: 200
AllowShortFunctionsOnASingleLine: Empty
SpaceAfterCStyleCast: true
NamespaceIndentation: All
TabWidth: 4
IndentWidth: 4
BreakBeforeBraces: Custom
BraceWrapping:
  AfterControlStatement: false
  BeforeCatch: true
  BeforeElse: true
